<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longing.demo.shiro.mapper.FileMapper">


    <resultMap id="fileMap" type="com.longing.demo.shiro.model.Files">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="suffix" column="suffix"/>
        <result property="fileContent" column="fileContent" jdbcType="BLOB"/>
    </resultMap>
    <select id="findById" parameterType="String"  resultMap="fileMap">
    	select * from file where id=#{id}
    </select>
	<insert id="insert" parameterType="com.longing.demo.shiro.model.Files">
		insert into file (name,suffix,fileContent) values(#{name},#{suffix},#{fileContent,jdbcType=BLOB})
	</insert>
   	<update id="update" parameterType="com.longing.demo.shiro.model.Files">
   		UPDATE file set
   		<if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="suffix != null" >
        suffix = #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        suffix = #{suffix,jdbcType=VARCHAR},
      </if>
       <if test="fileContent != null" >
        fileContent = #{fileContent,jdbcType=BLOB},
      </if>
      where id=#{id}
   	</update>
</mapper>